<div class="container-fluid">
  <div class="row movie-row">
    <div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let movie of moviesCopy" id="movies" (click)="movie.active = !movie.active">
      <img src="{{movie.thumbnail}}" alt="movie poster" class="movie-thumb">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <div class="info-box" [ngClass]="{'show': movie.active}">
        <p>{{movie.description}}</p>
        <a href="#review">
          <button class="btn btn-success" (click)="selectedMovie = movie;">Read Review</button>
        </a>
      </div>
    </div>
  </div>
  <movie-details [movie]="selectedMovie"></movie-details>
</div>
