<!-- start of header -->
<div class="container-fluid" id="home">
  <div class=" row hero-image">
    <div class="hero-text">
      <h1 class="title text-uppercase">movie reviews</h1>
      <h1 class="name text-uppercase">by linds gray</h1>
    </div>
    <!-- end of hero text-->
    <a href="#movies"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
  </div>
  <!--end of hero image -->
</div>
<movies-comp></movies-comp>
<!-- end of container fluid -->
<!-- End of header -->
